.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14144b;
  padding: 20px;
}

.auth-card {
  background: #0d1030;
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.auth-card h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #c9c6ff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #1f235c;
  color: white;
}

input::placeholder {
  color: #aaa;
}

button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #3b6cff, #7b3cff);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.switch-auth {
  margin-top: 25px;
  text-align: center;
}

.switch-auth a {
  color: #8ea2ff;
  text-decoration: none;
}
