* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: earthbound;
  src: url('../public/assets/fonts/earthbound.otf');
}

body {
  background-color: #14144b;
  color: #eaeaff;
  font-family: earthbound;
}

@media (max-width: 768px) {

  .ost-grid {
    grid-template-columns: 1fr;
  }

}
